@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 4%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 4%;
    --primary: 226 57% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 163 94% 24%;
    --secondary-foreground: 0 0% 100%;
    --muted: 60 5% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 210 40% 96%;
    --accent-foreground: 215 25% 27%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 4%;
    --chart-1: #dc2626;
    --chart-2: #0891b2;
    --chart-3: #1e293b;
    --chart-4: #eab308;
    --chart-5: #ea580c;
    --radius: 0.5rem;
    --sidebar-background: #fafafa;
    --sidebar-foreground: #404040;
    --sidebar-primary: #1a1a1a;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f1f5f9;
    --sidebar-accent-foreground: #334155;
    --sidebar-border: #e5e7eb;
    --sidebar-ring: #3b82f6;
  }
  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
    --card: 0 0% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 215 25% 27%;
    --secondary: 142 76% 66%;
    --secondary-foreground: 215 25% 27%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 83%;
    --chart-1: #3b82f6;
    --chart-2: #10b981;
    --chart-3: #f59e0b;
    --chart-4: #8b5cf6;
    --chart-5: #ec4899;
    --sidebar-background: #1a1a1a;
    --sidebar-foreground: #f5f5f5;
    --sidebar-primary: #3b82f6;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #262626;
    --sidebar-accent-foreground: #f5f5f5;
    --sidebar-border: #262626;
    --sidebar-ring: #3b82f6;

  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply bg-background text-foreground;
  }
}
